.chat-side
  .side-header
    .side-header__user-name
      yoshi
    .side-header__menu
      .new-group.list
        .fa.fa-cog.icon
      .edit-user.list
        .fa.fa-edit.icon
  .groups
    .group
      .group__group-name
        グループ名
      .group__latest-message
        メッセージ

