.chat-main
  .chat-main__main-header
    .chat-main-header__left-box
      .chat-main-header__left-box__current-group
        sample

      .chat-main-header__left-box__member-list
        Member :
        .chat-main-header__left-box__member-list__member
          hoge
        .chat-main-header__left-box__member-list__member
          yoshi
    .chat-main__right-header
      Edit
  .messages
    .message
      .message__upper-info
        .message__upper-info__talker
          yoshi
        .message__upper-info__date
          2019/05/31(Fri) 20:44:15
      .message__text
        aaaaa
    .message
      .message__upper-info
        .message__upper-info__talker
          yoshi
        .message__upper-info__date
          2019/05/31(Fri) 20:50:57
      .message__text
        sssss
    .message
      .message__upper-info
        .message__upper-info__talker
          hoge
        .message__upper-info__date
          2019/06/02(Sun) 15:15:53
      .message__text
        あああ
    .form
      .form__message
        .form__input-box
          type a message
          .form__input-box__image
            .fa.fa-image
        .form__submit-btn
          Send 